/* nejsme vcerejsi, pouzivame moderni box model */
html { box-sizing: border-box; }
*, :after, :before { box-sizing: inherit; }

body {
	margin: 0;
	font-family: 'Source Sans Pro', 'Raleway', sans-serif;
}

.paticka {
	text-align: center;
	font-size: 14px;
	color: silver;
}

.paticka a {
	color: silver;
}

/* -------------------------------------------------- */

/*
Responzivní breakpointy:
Mobil:		0 - 479px
Tablet:		480px - 859px
Počítač:	860px a víc

Chrome a některé další prohlížeče nejdou zmenšit pod určitou šířku, takže je možné, že ti nepůjde zmenšit tolik, aby se aktivovala mobilní verze. Pokud se ti to stane, změň si v kódu hranici mezi mobilem a tabletem třeba na 600px, nebo aktivuj v prohlížeči vývojářské nástroje s mobilním náhledem, kde může nastavovat jakoukoliv velikost (i malou).

Obrázky pro jednotlivé recepty jsou ve složce images.
Nastav je receptům jako obrázky na pozadí (tj. nepřidávej je jako <img> do HTML)

Na rozložení prvků NEPOUŽÍVEJ absolutní pozicování, ale pouze flexboxy.
Flexboxy mohou být vnořené do sebe, klidně několikrát.
*/
/*
Mám přes obrázky přidanou ještě poloprůhlednou černou barvu. Tu přidám tak, že přes obrázkové pozadí, přidám ještě pozadí s barevným přechodem z poloprůhledné černé do poloprůhledné černé.
Vícenásobná pozadí na jednom elementu se v CSS prostě jen oddělují čárkou. V pořadí první pozadí je nejvíc nahoře nad ostatními pozadími, další jsou pod ním. Když nastavíš vícenásobné pozadí v background-image, tak i v ostatních vlastnostech týkajících se pozadí pak nastavuješ všechno vícekrát a odděluješ čárkou - pro každé pozadí samostatná hodnota, ve stejném pořadí jako jsou pozadí v background-image.

background-image:
    linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4),
    url(images/obrazek.jpg);
/* a potom třeba: 

background-size: 100%, cover; */

  .receptH, .receptA, .receptB, .receptC, .receptD {
  background-size: 100%, cover;
  background-position: center;
  color: white;
  /*background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4);*/
}

.text{
  font-family: "Source Sans Pro";
  font-size: 14px;
  font-weight: 400;
  display: flex;
  justify-content: space-between;
}
.nazev{
  font-family: "Raleway";
  font-weight: 800;
}

.receptH, .receptA, .receptB, .receptC, .receptD{
  padding: 10px;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.receptH{
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("images/salat.jpg");
  min-height: 200px;
 }
.receptA, .receptB, .receptC, .receptD{
  min-height: 90px;
}

.receptH .nazev{
  font-size: 28px;
}
.receptA .nazev, .receptB .nazev, .receptC .nazev, .receptD .nazev{
  font-size: 18px;
}
.receptyMale{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.receptA{
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("images/chlebicek.jpg");
  order: 1;
}
.receptB{
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("images/tacos.jpg");
  order: 2;
}
.receptC{
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("images/cizrna.jpg");
  order: 3;
}
.receptD{
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("images/burger.jpg");
  order: 4;
}

@media screen and (max-width: 479px){
  .receptB{
    order: 3;
  }
  .receptC{
    order: 2;
  }
}
@media screen and (min-width: 480px) and (max-width: 859px){
  .receptyMale{
    flex-direction: row;
  }
  .receptA, .receptB, .receptC, .receptD{
    flex-basis: 50%;
  }
}

@media screen and (min-width: 860px){
  .receptyVse{
    display: flex;
  }
  .receptyMale{
    flex-direction: row;
    flex-basis: calc((100%/3) * 2);
  }
  .receptA, .receptB, .receptC, .receptD{
    flex-basis: 50%;
  }
  .receptH{
    flex-basis: calc(100%/3);
  }
  
}
