/* nejsme vcerejsi, pouzivame moderni box model */
html { box-sizing: border-box; }
*, :after, :before { box-sizing: inherit; }

body {
	margin: 0;
	font-family: 'Source Sans Pro', 'Raleway', sans-serif;
}

.paticka {
	text-align: center;
	font-size: 14px;
	color: silver;
}

.paticka a {
	color: silver;
}

/* -------------------------------------------------- */

/*
Responzivní breakpointy:
Mobil:		0 - 479px
Tablet:		480px - 859px
Počítač:	860px a víc

Chrome a některé další prohlížeče nejdou zmenšit pod určitou šířku, takže je možné, že ti nepůjde zmenšit tolik, aby se aktivovala mobilní verze. Pokud se ti to stane, změň si v kódu hranici mezi mobilem a tabletem třeba na 600px, nebo aktivuj v prohlížeči vývojářské nástroje s mobilním náhledem, kde může nastavovat jakoukoliv velikost (i malou).

Obrázky pro jednotlivé recepty jsou ve složce images.
Nastav je receptům jako obrázky na pozadí (tj. nepřidávej je jako <img> do HTML)

Na rozložení prvků NEPOUŽÍVEJ absolutní pozicování, ale pouze flexboxy.
Flexboxy mohou být vnořené do sebe, klidně několikrát.
*/
  .receptH, .receptA, .receptB, .receptC, .receptD {
  background-size: 100%, cover;
  background-position: center;
  color: white;
  padding: 10px;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-bottom: 1px solid white;
  }

.text{
  font-family: "Source Sans Pro";
  font-size: 14px;
  font-weight: 400;
  display: flex;
  justify-content: space-between;
}
.nazev{
  font-family: "Raleway";
  font-weight: 800;
}

.receptH{
  background-image: linear-gradient(rgba(104, 49, 49, 0.4), rgba(0, 0, 0, 0.4)), url("images/salat.jpg");
  min-height: 200px;
 }
.receptH .nazev{
  font-size: 28px;
}
.receptyMale{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.receptA .nazev, .receptB .nazev, .receptC .nazev, .receptD .nazev{
  font-size: 18px;
}
.receptA, .receptB, .receptC, .receptD{
  min-height: 90px;
}
.receptA{
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("images/chlebicek.jpg");
  order: 1;
}
.receptB{
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("images/tacos.jpg");
  order: 2;
}
.receptC{
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("images/cizrna.jpg");
  order: 3;
}
.receptD{
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("images/burger.jpg");
  order: 4;
}

@media screen and (max-width: 479px){
  .receptB{
    order: 3;
  }
  .receptC{
    order: 2;
  }
}
@media screen and (min-width: 480px){
  .receptyMale{
    flex-direction: row;
  }
  .receptA, .receptB, .receptC, .receptD{
    flex-basis: 50%;
  }
  .receptH, .receptA, .receptB, .receptC, .receptD {
    padding: 20px;
  }
  .receptA, .receptC{
    border-right: 1px solid white;
  }
  .receptH{
     min-height: 250px;
   }
  .receptH .nazev{
    font-size: 36px;
  }
  .receptA, .receptB, .receptC, .receptD{
    min-height: 150px;
  }
  .receptA .nazev, .receptB .nazev, .receptC .nazev, .receptD .nazev{
    font-size: 22px;
  } 
}

@media screen and (min-width: 860px){
  .receptyVse{
    display: flex;
  }
  .receptH{
    flex-basis: calc(100%/3);
    border-right: 1px solid white;
    min-height: 400px;
  }
  .receptyMale{
    flex-direction: row;
    flex-basis: calc((100%/3) * 2);
  }
  .receptH .nazev{
   font-size: 48px;
 }
 .receptA, .receptB, .receptC, .receptD{
   min-height: 200px;
 }
 .receptA .nazev, .receptB .nazev, .receptC .nazev, .receptD .nazev{
   font-size: 28px;
 } 
  

/*Další varianta CSS, kdyby pro rozlišení min 860px bylo vyžadováno jiné rozložení. S tímto CSS to funguje podle zadání.*/
/*
@media screen and (min-width: 480px) and (max-width: 859px){
  .receptyMale{
    flex-direction: row;
  }
  .receptA, .receptB, .receptC, .receptD{
    flex-basis: 50%;
  }
}

@media screen and (min-width: 860px){
  .receptyVse{
    display: flex;
  }
  .receptyMale{
    flex-direction: row;
    flex-basis: calc((100%/3) * 2);
  }
  .receptA, .receptB, .receptC, .receptD{
    flex-basis: 50%;
  }
  .receptH{
    flex-basis: calc(100%/3);
  }
  
}*/
